* {
    box-sizing: border-box
}
@import "fonts.css";
#photo {
    position: absolute;
    width: 555px;
    height: 530px;
    left: 150px;
    top: 194px;
}
body {
    background-color: #ffffff;
}
.rs {position: absolute;
    width: 219px;
    height: 44px;
    left: 150px;
    top: 100px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #2E2E2E;
}
.name {
    position: absolute;
    width: 460px;
    height: 32px;
    left: 750px;
    top: 194px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #2E2E2E;
}
#age {
    position: absolute;
    width: 124px;
    height: 25px;
    left: 735px;
    top: 246px;
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #AFAFAF;
}
#location {
    position: absolute;
    width: 135px;
    height: 25px;
    left: 1070px;
    top: 246px;
    font-family: 'Euclid Circular A';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #AFAFAF;
}

#IT {
    position: absolute;
    width: 459px;
    height: 92px;
    left: 735px;
    top: 296px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #2E2E2E;
    
}
#study {
    position: absolute;
    width: 460px;
    height: 69px;
    left: 735px;
    top: 393px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #2E2E2E;
}
#practical {
    position: absolute;
    width: 459px;
    height: 46px;
    left: 735px;
    top: 467px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #2E2E2E;
}
#skill {
    position: absolute;
    width: 459px;
    height: 75px;
    left: 735px;
    top: 523px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #2E2E2E;
}
h4 {
    position: absolute;
    width: 460px;
    height: 46px;
    left: 735px;
    top: 608px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #2E2E2E;
}
.mail { 
    position: absolute;
    width: 175px;
    height: 23px;
    left: 350px;
    top: 795px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2E2E2E;
}
#mail_icon {
    position: absolute;
    left: 415px;
    top: 779px;

    
}
.green {
    color: #52B29A;
}
.yellow {
    color: #FAEA68;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    height: 100px;
    width: 100vw;
   background-color:dimgrey;
}
.footer {
    height: 100px;
    width: 100vw;
    background-color:dimgrey;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
#rs_logo {
    width: 150px;
    margin-top: 10px;
}
.header_wrapper {
    display: flex;
}
.footer p {
    margin: 0 auto;
    text-align: center;
}